@font-face {
    font-family: 'Brittany Signature';
    src: url('BrittanySignature.woff2') format('woff2'),
         url('BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
